<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
        <%- include('partials/header') %>
    
    <main>
        <h2><%= pokemon.nombre %></h2>
        <p><%= pokemon.numero %></p>
        <p style="font-weight: bold;"><%= pokemon.tipo %></p>
        <img src="<%= pokemon.imagen %>" alt="<%= pokemon.nombre %>" style="width:100%; max-width:500px;">
        
        <div class="contenido">
          <p><%- pokemon.descripcion %></p>
        </div>

        <a href="/">Volver a la PokeDex</a>
    </main>
    
    <%- include('partials/footer') %>
</body>
</html>